In [1]:
import pandas as pd
from utils import load_data
import config as cfg

In [2]:
edges = load_data(cfg.USER_ORIG_RELATIONS_FILE, format='pandas')

In [3]:
edges

         following      follow
0            batin      gokmen
1            batin       samet
2            batin        vigo
3            batin  muratcorlu
4            batin      ahmetb
...            ...         ...
1216786    zerchen  hongyuanyu
1216787  EHZ9NIWI7  hongyuanyu
1216788    zetaodu  hongyuanyu
1216789  diyiiyiii  hongyuanyu
1216790    simazzz  hongyuanyu

[1216791 rows x 2 columns]

In [14]:
users = load_data(cfg.USER_FEATURES_FILE, format='pandas')

In [15]:
unique_users = set(edges['following']).intersection(edges['follow'])
len(unique_users)

117163

In [16]:
subset_edges = edges.merge(users['username'], left_on='following', right_on='username') \
     .merge(users['username'], left_on='follow', right_on='username') \
     [['following', 'follow']] \
     .drop_duplicates()

In [17]:
subset_edges

                following         follow
0                   batin         gokmen
1          huseyinozkilic         gokmen
2                aliorhun         gokmen
4              OnurSevket         gokmen
5               barisesen         gokmen
...                   ...            ...
142594            piratus      thaewrapt
142595            piratus  ihororlovskyi
142596           etimberg      mlaccetti
142597  alessandromarotta         lutsen
142598           LJNGDAHL          bonny

[135404 rows x 2 columns]

In [18]:
users1 = list(set(subset_edges.following).union(subset_edges.follow))
len(users1)

34536

In [8]:
subset_edges.to_csv(cfg.USER_RELATIONS_FILE, index=False)