In [1]:
import pandas as pd
from utils import load_data
import config as cfg

In [2]:
edges = load_data(cfg.USER_ORIG_RELATIONS_FILE, format='pandas')

In [3]:
edges

         following      follow
0            batin      gokmen
1            batin       samet
2            batin        vigo
3            batin  muratcorlu
4            batin      ahmetb
...            ...         ...
1216786    zerchen  hongyuanyu
1216787  EHZ9NIWI7  hongyuanyu
1216788    zetaodu  hongyuanyu
1216789  diyiiyiii  hongyuanyu
1216790    simazzz  hongyuanyu

[1216791 rows x 2 columns]

In [4]:
users = load_data(format='pandas')

In [5]:
unique_users = set(edges['following']).intersection(edges['follow'])
len(unique_users)

117163

In [6]:
subset_edges = edges.merge(users['login'], left_on='following', right_on='login') \
     .merge(users['login'], left_on='follow', right_on='login') \
     [['following', 'follow']] \
     .drop_duplicates()

In [7]:
subset_edges

                following         follow
0                   batin         gokmen
1          huseyinozkilic         gokmen
2                aliorhun         gokmen
4              OnurSevket         gokmen
5               barisesen         gokmen
...                   ...            ...
144372            piratus      thaewrapt
144373            piratus  ihororlovskyi
144374           etimberg      mlaccetti
144375  alessandromarotta         lutsen
144376           LJNGDAHL          bonny

[135462 rows x 2 columns]

In [8]:
subset_edges.to_csv(cfg.USER_RELATIONS_FILE, index=False)