In [1]:
from utils import load_data
import config as cfg

import re
import pickle

import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
user_repos = load_data(cfg.USER_REPOS_FILE)

In [3]:
user_repos[1600]

{'username': 'frytg',
 'languages': {'Dockerfile': 0.159,
  'Shell': 0.091,
  'JavaScript': 0.408,
  'TypeScript': 0.092,
  'HTML': 0.169,
  'SCSS': 0.073,
  'Ruby': 0.007},
 'topics': {'cloud-run': 1,
  'cloud-run-button': 1,
  'nginx': 1,
  'redirect-urls': 1,
  'cloudflare-pages': 1,
  'jamstack': 1,
  'jekyll': 1}}

In [4]:
languages = [ur["languages"] for ur in user_repos]
topics = [ur["topics"] for ur in user_repos]

In [5]:
class Summer:
    def __init__(self, d={}):
        if isinstance(d, list):
            self.d = {}
            for el in d:
                self._update(el)
        else:
            self.d = d

        self._sort_keys()

    def _sort_keys(self):
        sorted_items = sorted(self.d.items(), key=lambda i: -i[1])
        self.s = [x for x, y in sorted_items]
        self.v = [y for x, y in sorted_items]

    def _update(self, d_):
        for key in d_:
            try:
                self.d[key] += d_[key]
            except:
                self.d[key] = d_[key]

    def update(self, d_):
        self._update(d_)
        self._sort_keys()

    def most_common(self, n, with_values=False):
        if n < 1 or (isinstance(n, float) and n == 1):
            n_ = int(self.__len__() * n)
        else:
            n_ = n

        if with_values:
            return self.s[:n_], self.v[:n_]
        return self.s[:n_]

    def __len__(self):
        return len(self.d)

In [6]:
language_totals = Summer(languages)

In [7]:
common_languages = language_totals.most_common(cfg.N_LANGS)

In [8]:
", ".join(common_languages)

'JavaScript, Python, TypeScript, HTML, Go, Java, PHP, Jupyter Notebook, CSS, Shell, C++, Ruby, C, Rust, C#, Swift, Vue, Kotlin, Dockerfile, SCSS, Dart, Objective-C, R, Makefile, TeX, Lua, Elixir, Scala, Vim Script, HCL, Solidity, MATLAB, Clojure, PowerShell, CMake, Haskell, Emacs Lisp, Svelte, Julia, null, Smarty, Perl, Groovy, Assembly, Cuda, Blade, Nix, CoffeeScript, Less, Batchfile'

In [9]:
len(language_totals)

452

In [10]:
topic_totals = Summer(topics)
common_topics = topic_totals.most_common(cfg.N_TOPICS)

In [11]:
", ".join(common_topics)

'react, config, github-config, typescript, javascript, python, nodejs, deep-learning, machine-learning, golang, docker, hacktoberfest, pytorch, php, java, go, android, nextjs, reactjs, python3, vue, rust, swift, tensorflow, cli, api, ios, blog, css, aws, laravel, computer-vision, html, kotlin, tailwindcss, mongodb, nlp, game, vuejs, angular, react-native, ruby, kubernetes, cpp, webpack, graphql, macos, dotfiles, redis, express, spring-boot, docker-compose, node, algorithms, boilerplate, git, github, github-actions, flutter, mysql, ethereum, blockchain, redux, chrome-extension, c, data-science, flask, json, template, django, swiftui, natural-language-processing, wordpress, advent-of-code, postgresql, rest-api, website, bash, r, scala, reinforcement-learning, html5, portfolio, jest, linux, npm, firebase, vite, visualization, neural-network, eslint, markdown, personal-website, electron, dotnet, data-structures, gatsby, solidity, vim, terraform, csharp, shell, serverless, sql, database, vscode, learning, theme, kafka, elixir, sass, keras, frontend, awesome, leetcode, web, js, styled-components, bootstrap, dart, gan, tutorial, bot, covid-19, testing, awesome-list, nestjs, artificial-intelligence, zsh, spring, automation, game-development, symfony, ai, jupyter-notebook, es6, grpc, demo, library, ui, algorithm, plugin, vercel, music, vue3, security, cryptocurrency, data, rails, twitter'

In [12]:
len(topic_totals)

15767

In [13]:
common_languages, common_languages_freq = language_totals.most_common(
    cfg.N_LANGS, with_values=True
)
lang_features = pd.DataFrame([common_languages, common_languages_freq]).T
lang_features = lang_features.rename(columns={0: "Lang", 1: "Freq"})
lang_features

                Lang      Freq
0         JavaScript  7274.052
1             Python  4962.932
2         TypeScript  3303.555
3               HTML  2456.655
4                 Go  1710.501
5               Java   1610.92
6                PHP  1371.427
7   Jupyter Notebook  1304.079
8                CSS  1184.155
9              Shell  1156.497
10               C++  1074.846
11              Ruby   785.595
12                 C   649.293
13              Rust   619.305
14                C#   528.775
15             Swift   518.142
16               Vue   448.497
17            Kotlin   362.243
18        Dockerfile   320.784
19              SCSS   234.997
20              Dart   227.063
21       Objective-C   226.578
22                 R   196.245
23          Makefile   168.978
24               TeX   168.249
25               Lua   146.745
26            Elixir   145.378
27             Scala   134.566
28        Vim Script   129.273
29               HCL   128.005
30          Solidity     86.08
31            MATLAB    71.257
32           Clojure    70.292
33        PowerShell    63.816
34             CMake    62.791
35           Haskell    59.967
36        Emacs Lisp    55.905
37            Svelte    48.027
38             Julia    46.762
39              null    44.546
40            Smarty    39.266
41              Perl    38.778
42            Groovy    38.091
43          Assembly    37.449
44              Cuda    37.266
45             Blade    36.159
46               Nix     33.48
47      CoffeeScript     30.35
48              Less    29.912
49         Batchfile    28.237

In [14]:
common_topics, common_topics_freq = topic_totals.most_common(
    cfg.N_TOPICS, with_values=True
)
topic_features = pd.DataFrame([common_topics, common_topics_freq]).T
topic_features = topic_features.rename(columns={0: "Topic", 1: "Freq"})
topic_features

              Topic Freq
0             react  569
1            config  534
2     github-config  515
3        typescript  479
4        javascript  453
..              ...  ...
145        security   29
146  cryptocurrency   29
147            data   29
148           rails   29
149         twitter   29

[150 rows x 2 columns]

In [15]:
def dicts_to_pandas(dicts, key, values):
    rows = []
    for d in dicts:
        row = []
        row.append(d["username"])
        for v in values:
            if v in d[key]:
                row.append(d[key][v])
            else:
                row.append(0)
        rows.append(row)

    df = pd.DataFrame(rows, columns=["username"] + values)
    cols = {v: key + "_" + v for v in values}
    df = df.rename(columns=cols)
    return df

In [16]:
df_langs = dicts_to_pandas(user_repos, "languages", common_languages)
df_langs

,username,languages_JavaScript,languages_Python,languages_TypeScript,languages_HTML,languages_Go,languages_Java,languages_PHP,languages_Jupyter Notebook,languages_CSS,...,languages_Smarty,languages_Perl,languages_Groovy,languages_Assembly,languages_Cuda,languages_Blade,languages_Nix,languages_CoffeeScript,languages_Less,languages_Batchfile
0,SaiNageswarS,0.000,0.000,0.250,0.000,0.500,0.000,0.000,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
1,dennissiq,0.187,0.000,0.263,0.335,0.000,0.000,0.000,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
2,guoyoujin,0.000,0.051,0.000,0.000,0.179,0.202,0.000,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
3,redshiftzero,0.000,0.423,0.000,0.071,0.000,0.000,0.000,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
4,pedrofsn,0.147,0.000,0.204,0.030,0.000,0.002,0.000,0.0,0.019,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35904,LukeMichaels,0.373,0.000,0.000,0.091,0.000,0.000,0.252,0.0,0.032,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
35905,hemlok,0.531,0.000,0.452,0.015,0.000,0.000,0.000,0.0,0.002,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
35906,sfate,0.005,0.000,0.000,0.027,0.000,0.000,0.000,0.0,0.015,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
35907,DemoYolk,0.196,0.000,0.000,0.199,0.244,0.000,0.000,0.0,0.066,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0
35908,charukiewicz,0.103,0.000,0.000,0.048,0.000,0.000,0.000,0.0,0.125,...,0.0,0.0,0.0,0.0,0.0,0.0,0.008,0.0,0.0,0.0

In [17]:
df_topics = dicts_to_pandas(user_repos, "topics", common_topics)
df_topics

,username,topics_react,topics_config,topics_github-config,topics_typescript,topics_javascript,topics_python,topics_nodejs,topics_deep-learning,topics_machine-learning,...,topics_algorithm,topics_plugin,topics_vercel,topics_music,topics_vue3,topics_security,topics_cryptocurrency,topics_data,topics_rails,topics_twitter
0,SaiNageswarS,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,dennissiq,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,guoyoujin,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,redshiftzero,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,pedrofsn,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35904,LukeMichaels,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35905,hemlok,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35906,sfate,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35907,DemoYolk,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35908,charukiewicz,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
df_features = df_langs.merge(df_topics, on="username")

In [46]:
df_features

,username,languages_JavaScript,languages_Python,languages_TypeScript,languages_HTML,languages_Go,languages_Java,languages_PHP,languages_Jupyter Notebook,languages_CSS,...,topics_algorithm,topics_plugin,topics_vercel,topics_music,topics_vue3,topics_security,topics_cryptocurrency,topics_data,topics_rails,topics_twitter
0,SaiNageswarS,0.000,0.000,0.250,0.000,0.500,0.000,0.000,0.0,0.000,...,0,0,0,0,0,0,0,0,0,0
1,dennissiq,0.187,0.000,0.263,0.335,0.000,0.000,0.000,0.0,0.000,...,0,0,0,0,0,0,0,0,0,0
2,guoyoujin,0.000,0.051,0.000,0.000,0.179,0.202,0.000,0.0,0.000,...,0,0,0,0,0,0,0,0,0,0
3,redshiftzero,0.000,0.423,0.000,0.071,0.000,0.000,0.000,0.0,0.000,...,0,0,0,0,0,0,0,0,0,0
4,pedrofsn,0.147,0.000,0.204,0.030,0.000,0.002,0.000,0.0,0.019,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35904,LukeMichaels,0.373,0.000,0.000,0.091,0.000,0.000,0.252,0.0,0.032,...,0,0,0,0,0,0,0,0,0,0
35905,hemlok,0.531,0.000,0.452,0.015,0.000,0.000,0.000,0.0,0.002,...,0,0,0,0,0,0,0,0,0,0
35906,sfate,0.005,0.000,0.000,0.027,0.000,0.000,0.000,0.0,0.015,...,0,0,0,0,0,0,0,0,0,0
35907,DemoYolk,0.196,0.000,0.000,0.199,0.244,0.000,0.000,0.0,0.066,...,0,0,0,0,0,0,0,0,0,0
35908,charukiewicz,0.103,0.000,0.000,0.048,0.000,0.000,0.000,0.0,0.125,...,0,0,0,0,0,0,0,0,0,0

In [47]:
users = load_data(format="pandas")

In [48]:
cleaner = lambda text: re.sub(
    r"(@\[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?", " ", text
)

In [49]:
def vectorize_texts(df, col, n_features):
    texts = df.set_index('login')[col].dropna()
    texts = texts.str.lower()
    texts = texts.apply(cleaner)

    c = CountVectorizer(
        max_features=n_features, ngram_range=(1, 2), stop_words="english"
    )
    vectors = c.fit_transform(texts).toarray()
    features = pd.DataFrame(
        vectors > 0, index=texts.index, columns=c.get_feature_names_out()
    )
    features = features.astype(int)
    features = features.add_prefix('company_')
    features = features.reset_index()
    features = features.rename(columns={'login': 'username'})
    return features

In [50]:
company_feats = vectorize_texts(users, 'company', 100)
company_feats

,username,company_academy,company_adobe,company_ag,company_ai,company_alibaba,company_alipay,company_amazon,company_apple,company_aws,...,company_tencent,company_thoughtworks,company_tsinghua,company_tsinghua university,company_uber,company_university,company_web,company_www,company_zhejiang,company_zhejiang university
0,josete89,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,stevejhkang,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,andru255,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,nylqd,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Ore4444,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30342,chyngyz,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30343,jayparks,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30344,dedztbh,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
30345,adhaniscuber,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30346,lxsmnsyc,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
def get_main_features(df):
    count_feats = df[['public_repos', 'public_gists', 'followers', 'following']]
    count_feats = count_feats / count_feats.max()
    count_feats = count_feats.add_prefix('stats_')
    count_feats = pd.concat([df[['login']], count_feats], axis=1)
    count_feats = count_feats.rename(columns={'login': 'username'})
    return count_feats

count_feats = get_main_features(users)
count_feats

In [53]:
df_features = df_features.merge(company_feats, on='username', how='left').fillna(0)

In [54]:
df_features = df_features.merge(count_feats, on='username')

In [55]:
df_features

,username,languages_JavaScript,languages_Python,languages_TypeScript,languages_HTML,languages_Go,languages_Java,languages_PHP,languages_Jupyter Notebook,languages_CSS,...,company_uber,company_university,company_web,company_www,company_zhejiang,company_zhejiang university,stats_public_repos,stats_public_gists,stats_followers,stats_following
0,SaiNageswarS,0.000,0.0,0.250,0.000,0.500,0.0,0.000,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000995,0.000000,0.000450,0.000323
1,dennissiq,0.187,0.0,0.263,0.335,0.000,0.0,0.000,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.002882,0.000000,0.000550,0.000209
2,dennissiq,0.187,0.0,0.263,0.335,0.000,0.0,0.000,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.002882,0.000000,0.000550,0.000209
3,dennissiq,0.187,0.0,0.263,0.335,0.000,0.0,0.000,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.002882,0.000000,0.000550,0.000209
4,dennissiq,0.187,0.0,0.263,0.335,0.000,0.0,0.000,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.002882,0.000000,0.000550,0.000209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37260,LukeMichaels,0.373,0.0,0.000,0.091,0.000,0.0,0.252,0.0,0.032,...,0.0,0.0,0.0,0.0,0.0,0.0,0.001677,0.001822,0.000375,0.002144
37261,hemlok,0.531,0.0,0.452,0.015,0.000,0.0,0.000,0.0,0.002,...,0.0,0.0,0.0,0.0,0.0,0.0,0.001729,0.002278,0.001251,0.000493
37262,sfate,0.005,0.0,0.000,0.027,0.000,0.0,0.000,0.0,0.015,...,0.0,0.0,0.0,0.0,0.0,0.0,0.004034,0.027335,0.000600,0.000664
37263,DemoYolk,0.196,0.0,0.000,0.199,0.244,0.0,0.000,0.0,0.066,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000367,0.000000,0.000075,0.000076
37264,charukiewicz,0.103,0.0,0.000,0.048,0.000,0.0,0.000,0.0,0.125,...,0.0,0.0,0.0,0.0,0.0,0.0,0.001781,0.001822,0.000800,0.000493

In [57]:
df_features = df_features.drop_duplicates(subset=['username']).reset_index(drop=True)
df_features

,username,languages_JavaScript,languages_Python,languages_TypeScript,languages_HTML,languages_Go,languages_Java,languages_PHP,languages_Jupyter Notebook,languages_CSS,...,company_uber,company_university,company_web,company_www,company_zhejiang,company_zhejiang university,stats_public_repos,stats_public_gists,stats_followers,stats_following
0,SaiNageswarS,0.000,0.000,0.250,0.000,0.500,0.000,0.000,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000995,0.000000,0.000450,0.000323
1,dennissiq,0.187,0.000,0.263,0.335,0.000,0.000,0.000,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.002882,0.000000,0.000550,0.000209
2,guoyoujin,0.000,0.051,0.000,0.000,0.179,0.202,0.000,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.002462,0.004556,0.001276,0.004270
3,redshiftzero,0.000,0.423,0.000,0.071,0.000,0.000,0.000,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.007073,0.010934,0.004927,0.001082
4,pedrofsn,0.147,0.000,0.204,0.030,0.000,0.002,0.000,0.0,0.019,...,0.0,0.0,0.0,0.0,0.0,0.0,0.005449,0.000911,0.002851,0.007363
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35904,LukeMichaels,0.373,0.000,0.000,0.091,0.000,0.000,0.252,0.0,0.032,...,0.0,0.0,0.0,0.0,0.0,0.0,0.001677,0.001822,0.000375,0.002144
35905,hemlok,0.531,0.000,0.452,0.015,0.000,0.000,0.000,0.0,0.002,...,0.0,0.0,0.0,0.0,0.0,0.0,0.001729,0.002278,0.001251,0.000493
35906,sfate,0.005,0.000,0.000,0.027,0.000,0.000,0.000,0.0,0.015,...,0.0,0.0,0.0,0.0,0.0,0.0,0.004034,0.027335,0.000600,0.000664
35907,DemoYolk,0.196,0.000,0.000,0.199,0.244,0.000,0.000,0.0,0.066,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000367,0.000000,0.000075,0.000076
35908,charukiewicz,0.103,0.000,0.000,0.048,0.000,0.000,0.000,0.0,0.125,...,0.0,0.0,0.0,0.0,0.0,0.0,0.001781,0.001822,0.000800,0.000493

In [58]:
df_features.to_csv(cfg.USER_FEATURES_FILE, index=False)

In [59]:
feats = list(df_features.columns[1:])
feats
pickle.dump(feats, open(cfg.FEATURE_NAMES_FILE, "wb"))